
h1 {
    text-align: center;
    color:#fc24a2;
    padding: 70px;
    border: 3px solid#a208e9;
    height: 100px;
    width: 100%;
    background-image: url("caballeros-edad-media-curiosidades.jpg"); 
    font-weight: bold;
    font-size: 30px;
    font-style: normal;
    font-family:sans-serif;

   }

  